*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-family: 'Hanken Grotesk';
}

html{
    font-size: 12px;
}

.main-box{

}

.upper-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 100%;
    border: 0px solid black;
    border-radius: 0px 0px 34px 34px;
}

.result-heading{
    font-size: 1.3rem;
    font-weight: 700;
    margin: 20px 0px 10px;
    color: hsl(221, 100%, 96%);
}

.upper-box div{
    width: 120px;
    padding: 18px;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));

    border-radius: 50%;
}

.upper-box>div>span{
    font-size: 1.2rem;
    font-weight: 600;
    color: hsl(241, 100%, 89%);
}
.upper-box>div>span:first-of-type{
    font-size: 4rem;
    font-weight: 800;
    color: white;
}

.great-heading{
    font-size: 1.5rem;
    font-weight: 700;
    
    color: hsl(0, 0%, 100%);
    
    margin-top: 16px;
    text-align: center;
}

.info-text{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.4rem;
    text-align: center;
    color: hsl(241, 100%, 89%);

    padding: 0px 54px;
    margin-top: 6px;
    margin-bottom: 28px;

}

.lower-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
